/* Основные стили для формы */
body {
    background-image: url(/images/1.jpg);
    background-size: cover; /* Фон */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Центрирование формы для десктопа */
.grid-form {
    width: 600px;  /* Форма имеет фиксированную ширину */
    margin: 20px;  /* Отступы */
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
}

/* Поля ввода и текстовые области */
input, textarea {
    width: 100%;  /* Поля формы занимают всю ширину */
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Кнопки */
button {
    width: 100%; /* Кнопки растягиваются на всю ширину */
    padding: 15px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 767px) {
    /* Изменяем позицию формы на мобильных устройствах */
    .grid-form {
        width: 90%;  /* Форма будет занимать 90% ширины экрана */
        max-width: 400px;  /* Ограничиваем максимальную ширину */
        top: 10%;    /* Смещаем форму немного вниз */
        left: 5%;    /* Центрируем форму по горизонтали */
        position: absolute; /* Абсолютное позиционирование */
    }

    /* Форма и кнопки */
    button {
        padding: 15px;  /* Увеличиваем размер кнопок */
        font-size: 18px; /* Увеличиваем шрифт */
    }

    /* Модальные окна */
    .modal-dialog {
        width: 90%; /* Модальное окно займет 90% экрана */
        left: 5%;   /* Центрируем модальное окно */
    }

    .modal-body {
        font-size: 1em; /* Уменьшаем размер шрифта */
        padding: 15px;  /* Уменьшаем отступы */
    }

    /* Поля ввода на мобильных */
    input, textarea {
        padding: 12px; /* Увеличиваем размер полей */
        font-size: 18px;  /* Увеличиваем шрифт */
    }

    /* Тумблер (переключатель) */
    .toggle-switch {
        width: 60px; /* Увеличиваем размер тумблера */
        height: 30px; /* Увеличиваем высоту тумблера */
    }

    .slider::before {
        width: 28px; /* Увеличиваем размер кружка тумблера */
        height: 28px;
    }

    .modal-header {
        font-size: 1.2em;  /* Увеличиваем шрифт заголовка */
    }

    .modal-footer {
        margin-top: 20px;  /* Увеличиваем отступы */
    }
}

/* Стили для планшетов и устройств с шириной экрана от 768px до 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .grid-form {
        width: 80%;  /* Форма будет занимать 80% ширины экрана */
        top: 10%;
    }

    .modal-dialog {
        width: 70%;  /* Модальное окно будет занимать 70% ширины */
    }

    button {
        padding: 15px;
        font-size: 18px;
    }
}
