{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block stylesheets %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
{% endblock %}

{% block body %}

  

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

 <p id="toggleText">Этот текст будет скрываться и появляться.</p>
    
    <form action="{{ path('handle_form') }}" method="post" class="grid-form">

   

<label for = "toggle-switch">Я представитель(родитель или опекун):</label>

      <label class="toggle-switch">
        <input type="checkbox"  id="toggleCheckbox" />
        <span class="slider">
        </span>
    </label>
    
    



       <div class="form-group">
        <label for="name">Имя:</label>
        <input name="name" id="name" type="text">
    </div>

    <div class="form-group">
        <label for="age">Возраст:</label>
        <input name="age" id="age" type="number">
    </div>

    <div class="form-group">
        <label for="numberPassport">Номер паспорта:</label>
        <input name="numberPassport" id="numberPassport" type="number">
    </div>

    <div class="form-group">
        <label for="serialPassport">Серия паспорта:</label>
        <input name="serialPassport" id="serialPassport" type="number">
    </div>

     

    <div class="form-group">
        <label for="passportIssuedBy">Кем выдан:</label>
        <textarea name="passportIssuedBy" id="passportIssuedBy" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="passportIssuedBy">Когда выдан:</label>
        <textarea name="passportDate" id="passportDate" rows="3"></textarea>
    </div>

    <div class="form-group">
        <label for="address">Адрес:</label>
        <textarea name="address" id="address" rows="3"></textarea>
    </div>



        <button type="submit">Отправить</button>
    </form>

   
</div>
{% endblock %}
